body{
  margin: 0;
  padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #eeeeee;
}

nav{
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #222222;
    border-bottom: 0.05px solid #000000;
    height: 3em;
    position: fixed;
}

.container{
    width: 70%;
    margin: auto;
    max-width: 700px;
}

#logo_container{
    height: 100%;
    margin: 0;
    text-align: center;
    float: left;
}

#nav_logo{
    height: 2em;
    padding: 0.5em;
    margin: 0 0 0 -0.5em;
}

img{
    padding: 0;
    margin: 0;
}

.profile_button{
    float: right;
    border: 1px solid #444444;
    margin: 0.5em 0 0.5em 0.5em;
    padding: 0.2em;
    border-radius: 2px;
}

.profile_button:hover{
    background-color: #444444;
}

h9{
    font-weight: 100;
    font-size: 0.7em;
    margin: 0 2em 0 0;
    padding: 0; 
}

h6{
    font-weight: 100;
    font-size: 0.9em;
    color: white;
    margin: 0;
    float: left;
    padding: 0.2em 0.2em;
}

h5{
    font-weight: 400;
    font-size: 0.9em;
    color: white;
    margin: 0;
    float: left;
    padding: 0.2em 0.4em 0.2em 0.1em;
}

h7{
    font-weight: 100;
    font-size: 0.7em;
    text-decoration: underline;
    color: white;
    margin: 0;
    padding: 0;  
}

h8{
    color: red;
    font-weight: 100;
    font-size: 0.7em;
    margin: 0;
    padding: 0;  
}

#profile_pic{
    width: 1.5em;
    height: 1.5em;
    background-color: #eeeeee;
    float: left;
    border-radius: 50%;
}

#nav_clear{
    width: 100%;
    height: 3em;
}

#page_container{
    padding: 2em;
    background-color: white;
}

h1{
    font-size: 1em;
    font-weight: 300;
    padding: 0;
    margin: 0 0;
}

h2{
    margin: 0.5em 0;
    color: white;
    font-weight: 300;
}

#post textarea {
    width: 100%;
    border-radius: 2px;
    border: 1px solid #333333;
    resize: none; 
}

#post textarea[placeholder]{
    font-size: 1em;
    padding: 1em 2%;
}

#post input[type=submit]{
    float: right;
    border: 1px solid #333333;
    background-color: #222222;
    color: white;
    padding: 0.5em 1em;
    border-radius: 2px;
    margin: 1em 0;
}

.background{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    position: relative;
}

#login_background{
    background-image: url(img/login.jpg);
}

#register_background{
    background-image: url(img/register.jpg);
}

#white_banner{
    background-color: rgba(20, 20, 20, 0.75);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

form{
    width: 100%;
    color: white;
}

label{
    font-weight: 300;
    font-size: 0.7em
}

#login_form input[type=text]{
    width: 50%;
}

#login_form input[type=password]{
    width: 50%;
}

#login_form input[type=submit]{
    margin: 1em 0 1em 0;
}

#register_form{
    margin-bottom: 1em;
}

.nameblock{
    width: 50%;
    float: left;
    margin: 0.75em 0;
}

.nameblock input[type=text]{
    width: 80%;
}

.thirdblock{
    width: 33.3%;
    float: left;
    margin: 0.75em 0;
}

.thirdblock input[type=text]{
    width: 80%;
}

.thirdblock input[type=password]{
    width: 80%;
}

#register_form input[type=radio]{
    margin: 0 1em 1.5em 0;
}

#register_form input[type=submit]{
    margin: 2em 0 0 0;
}